@charset "utf-8";
/* MINDsLab. YMJ. 20190830 */

/* Noto Sans */
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:100;
    src:local('Noto Sans KR Thin'), local('NotoSansKR-Thin'), url(../fonts/NotoSansKR-Thin.otf) format('opentype'),
    url(../fonts/NotoSansKR-Thin.woff) format('woff'),
    url(../fonts/NotoSansKR-Thin.woff2) format('woff2');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:200;
    src:local('Noto Sans KR Light'), local('NotoSansKR-Light'), url(../fonts/NotoSansKR-Light.otf) format('opentype'),
    url(../fonts/NotoSansKR-Light.woff) format('woff'),
    url(../fonts/NotoSansKR-Light.woff2) format('woff2');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:300;
    src:local('Noto Sans KR DemiLight'), local('NotoSansKR-DemiLight'), url(../fonts/NotoSansKR-DemiLight.otf) format('opentype'),
    url(../fonts/NotoSansKR-DemiLight.woff) format('woff'),
    url(../fonts/NotoSansKR-DemiLight.woff2) format('woff2');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:400;
    src:local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(../fonts/NotoSansKR-Regular.otf) format('opentype'),
    url(../fonts/NotoSansKR-Regular.woff) format('woff'),
    url(../fonts/NotoSansKR-Regular.woff2) format('woff2');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:500;
    src:local('Noto Sans KR Medium'), local('NotoSansKR-Medium'), url(../fonts/NotoSansKR-Medium.otf) format('opentype'),
    url(../fonts/NotoSansKR-Medium.woff) format('woff'),
    url(../fonts/NotoSansKR-Medium.woff2) format('woff2');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:700;
    src:local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url(../fonts/NotoSansKR-Bold.otf) format('opentype'),
    url(../fonts/NotoSansKR-Bold.woff) format('woff'),
    url(../fonts/NotoSansKR-Bold.woff2) format('woff2');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:900;
    src:local('Noto Sans KR Black'), local('NotoSansKR-Black'), url(../fonts/NotoSansKR-Black.otf) format('opentype'),
    url(../fonts/NotoSansKR-Black.woff) format('woff'),
    url(../fonts/NotoSansKR-Black.woff2) format('woff2');
}

/* Spoqa Han Sans */
@font-face {
    font-family:'Spoqa Han Sans';
    font-style:normal;
    font-weight:100;
    src: local('Spoqa Han Sans Thin'),
    url(../fonts/SpoqaHanSansThin.woff2) format('woff2'),
    url(../fonts/SpoqaHanSansThin.woff) format('woff'),
    url(../fonts/SpoqaHanSansThin.ttf) format('truetype');
}
@font-face {
    font-family:'Spoqa Han Sans';
    font-style:normal;
    font-weight:300;
    src: local('Spoqa Han Sans Light'),
    url(../fonts/SpoqaHanSansLight.woff2) format('woff2'),
    url(../fonts/SpoqaHanSansLight.woff) format('woff'),
    url(../fonts/SpoqaHanSansLight.ttf) format('truetype');
}
@font-face {
    font-family:'Spoqa Han Sans';
    font-style:normal;
    font-weight:400;
    src: local('Spoqa Han Sans Regular'),
    url(../fonts/SpoqaHanSansRegular.woff2) format('woff2'),
    url(../fonts/SpoqaHanSansRegular.woff) format('woff'),
    url(../fonts/SpoqaHanSansRegular.ttf) format('truetype');
}
@font-face {
    font-family:'Spoqa Han Sans';
    font-style:normal;
    font-weight:700;
    src: local('Spoqa Han Sans Bold'),
    url(../fonts/SpoqaHanSansBold.woff2) format('woff2'),
    url(../fonts/SpoqaHanSansBold.woff) format('woff'),
    url(../fonts/SpoqaHanSansBold.ttf) format('truetype');
}

/* Roboto */
@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:100;
    src:url(../fonts/Roboto-Thin.otf) format('opentype');
    src:url(../fonts/Roboto-Thin.woff) format('woff'),
    url(../fonts/Roboto-Thin.woff2) format('woff2');
}
@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:300;
    src:url(../fonts/Roboto-Light.otf) format('opentype');
    src:url(../fonts/Roboto-Light.woff) format('woff'),
    url(../fonts/Roboto-Light.woff2) format('woff2');
}
@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/Roboto-Regular.otf) format('opentype');
    src:url(../fonts/Roboto-Regular.woff) format('woff'),
    url(../fonts/Roboto-Regular.woff2) format('woff2');
}
@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:500;
    src:url(../fonts/Roboto-Medium.otf) format('opentype');
    src:url(../fonts/Roboto-Medium.woff) format('woff'),
    url(../fonts/Roboto-Medium.woff2) format('woff2');
}
@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:700;
    src:url(../fonts/Roboto-Bold.otf) format('opentype');
    src:url(../fonts/Roboto-Bold.woff) format('woff'),
    url(../fonts/Roboto-Bold.woff2) format('woff2');
}
