@charset "utf-8";

/* -------------------- 공통 -------------------- */
.hide {display:inline-block; position:absolute; left:-9999px; top:-9999px; width:0 !important; height:0 !important; font-size:0 !important; line-height:0 !important; margin:0; padding:0;}

/* font color */
.ft_posco_blue      {color:#005793;} /* main */
.ft_posco_lightBlue {color:#00a2e1;} /* sub */
.ft_posco_darkGray  {color:#4d4f4e;} /* sub */
.ft_posco_lightGray {color:#c6c5c2;} /* sub */

/* background color */
.bg_posco_blue      {background:#005793;} /* main */
.bg_posco_lightBlue {background:#00a2e1;} /* sub */
.bg_posco_darkGray  {background:#4d4f4e;} /* sub */
.bg_posco_lightGray {background:#c6c5c2;} /* sub */

/* align */
.cl_b {clear:both; overflow:hidden;}
.fl {float:left;}
.fr {float:right;}

.al_l {text-align:left;}
.al_c {text-align:center;}
.al_r {text-align:right;}

/* button*/
.btn_lineBox {display:inline-block; color:#757575; padding:0 10px; font-size:12px; border:1px solid #c6c5c2; border-radius:3px; background:#fff; transition:all 0.3s ease-out;}
.btn_lineBox:hover {color:#000; border:1px solid #35384d; transition:all 0.3s ease-out;}

.btn_bgBox {display:inline-block; color:#fff; padding:0 10px; font-size:12px; border:none; border-radius:3px; background:#bac0c7; transition:all 0.3s ease-out;}
.btn_bgBox:hover, btn_bgBox:focus {color:#fff; background:#00a2e1; transition:all 0.3s ease-out;}

/* -------------------- loading -------------------- */
/* page loading */
#pageldg {display:block; position:fixed; top:0px; left:0px; width:100%; height:100%; text-align:center; background-color:#fff; z-index:9999; opacity:1.0;}
#pageldg:before {content:''; position:absolute; top:50%; left:50%; margin:0 0 0 -30px; border-radius:100%; background:radial-gradient(#e9edf3, #fff); opacity:0; width:60px; height:60px; -webkit-animation:pageldg_wave 1.7s 2.5s linear infinite; animation:pageldg_wave 1.7s 2.5s linear infinite; z-index:444;}
@-webkit-keyframes pageldg_wave{
    0%  {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
    5%  {opacity:1;}
    100%{-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}
@keyframes pageldg_wave{
    0%  {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
    5%  {opacity:1;}
    100%{-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}

#pageldg span.out_bg {position:absolute; top:50%; width:180px; height:180px; margin:-90px 0 0 -90px; border-radius:300px; background:#fff; animation:out_bg 1s 0s ease-in-out both; z-index:555;}
@-webkit-keyframes out_bg{
    0%  {opacity:0; transform:scale(0);}
    80% {opacity:0.3; transform:scale(1.2);}
    100%{opacity:1; transform:scale(1);}
}
@keyframes out_bg{
    0%  {opacity:0; transform:scale(0);}
    80% {opacity:0.2; transform:scale(1.2);}
    100%{opacity:1; transform:scale(1);}
}

#pageldg span em {overflow:hidden; position:absolute; top:50%; left:50%; width:200px; height:200px; margin:-100px 0 0 -100px; border-radius:300px; background:#fff;}
#pageldg span em strong:nth-child(1) {content:''; position:absolute; bottom:10%; left:12%; width:calc(100% - 24%); height:calc(100% - 24%); border-radius:300px; background:#005793; animation:st_move_01 1.5s 0.1s ease-in-out both;}
@-webkit-keyframes st_move_01{
    0%  {height:0%;}
    100%{height:calc(100% - 24%); }
}
@keyframes st_move_01{
    0%  {height:0%;}
    100%{height:calc(100% - 24%); }
}

#pageldg span em b {content:''; position:absolute; top:50%; left:50%; width:160px; height:160px; margin:-80px 0 0 -80px; background:url("../images/ico_posco_trans.png") 50% 50% no-repeat; background-size:cover; z-index:999;}
.pageldg_hide {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}
@-webkit-keyframes pageldg_hide{
    0%  {opacity:1;}
    100%{opacity:0;}
}
@keyframes pageldg_hide{
    0%  {opacity:1;}
    100%{opacity:0;}
}

/* -------------------- wrap -------------------- */
#wrap {display:block; position:relative; width:100%; min-width:1280px; height:100%; background:#f1f5fb;}

/* -------------------- header -------------------- */
#header {display:block; position:relative; width:100%; height:180px; padding:0; text-align:center; z-index:1000; transition:all 0.3s ease-out;}
#header h1 {display:inline-block; height:60px; margin:100px 10px 0 0; color:#005793; font-size:14px; line-height:60px; vertical-align:middle; box-sizing:border-box;}
#header h1 a {color:#005793;}

/* search */
#header .srchBox {display:inline-block; position:relative; height:60px; margin:100px 30px 0 0; padding:7px 12px; vertical-align:middle; border:7px solid #005793; border-radius:3px; box-sizing:border-box; background:#fff;}
#header .srchBox .ipt_txt {display:inline-block; width:500px; height:100%; font-size:16px; line-height:100%; border:none; background:none; -webkit-ime-mode:active; -moz-ime-mode:active; -ms-ime-mode:active; ime-mode:active;}
#header .srchBox .btn_search {display:inline-block; overflow:hidden; width:28px; height:28px; text-indent:-99px; border:none; background:#4d4f4e url("../images/ico_send_trans.png") 50% 50% no-repeat; background-size:100% 100%; transition:all 0.3s ease-out;}
#header .srchBox .btn_search:hover {background-color:#00a2e1; transition:all 0.3s ease-out;}

/* -------------------- container -------------------- */
#container {position:relative; display:block; width:100%; padding:0; text-align:center; vertical-align:top; box-sizing:border-box;}

/* section  */
.stn {display:block;}
.stn .stn_tit {display:block; clear:both; overflow:hidden; padding:0 0 7px 0; line-height:26px;}
.stn .stn_tit h3 {float:left;}
.stn .stn_cont {display:block;}

/* 자동완성 */
.autoComplete {display:none; overflow:auto; position:absolute; top:46px; left:0; width:100%; max-height:250px; padding:0; border-top:1px solid rgba(79,93,115,0.05); background:#fff; border-radius:0 0 5px 5px; box-sizing:border-box;}
.autoComplete.on {display:block; box-shadow:0 15px 10px 10px rgba(79,93,115,0.05);}
.autoComplete::-webkit-scrollbar{width:7px;}
.autoComplete::-webkit-scrollbar-track {background-color:#f1f1f1;}
.autoComplete::-webkit-scrollbar-thumb {background-color:#c1c1c1; border-radius:10px;}
.autoComplete::-webkit-scrollbar-thumb:hover {background:#a8a8a8;}
.autoComplete::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {width:7px; height:7px; background:#eaeaea;}

.autoComplete dl.groupBox {display:none; margin:0 0 7px 0;}
.autoComplete dl.groupBox:last-child {margin:0;}
.autoComplete dl.groupBox dt {display:block; padding:7px 7px 0 7px; color:#909090; font-size:12px; text-align:left;}
.autoComplete dl.groupBox dd { display:block; padding:0;}
.autoComplete dl.groupBox dd ul.lst_people {display:block;}
.autoComplete dl.groupBox dd ul.lst_people li {display:none; clear:both; overflow:hidden; width:100%; padding:3px 15px; text-align:left; line-height:36px; box-sizing:border-box; transition:all 0.1s ease-out;}
.autoComplete dl.groupBox dd ul.lst_people li:last-child {margin:0;}
.autoComplete dl.groupBox dd ul.lst_people li span {display:inline-block; vertical-align:middle;}
.autoComplete dl.groupBox dd ul.lst_people li .thumb {overflow:hidden; width:36px; height:36px; margin:0 4px 0 0; border-radius:5px;}
.autoComplete dl.groupBox dd ul.lst_people li .thumb img {width:100%; height:100%;}
.autoComplete dl.groupBox dd ul.lst_people li .text {color:#000; font-size:15px; font-weight:500;}
.autoComplete dl.groupBox dd ul.lst_people li .assign {color:#4d4f4e;}
.autoComplete dl.groupBox dd ul.lst_people li .category {color:#adaca8;}
.autoComplete dl.groupBox dd ul.lst_people li button {display:inline-block; height:30px; margin:0 0 0 3px; padding:0 7px; color:#7b7b7b; line-height:30px; border:none; border-radius:5px; vertical-align:middle; background:rgba(79,93,115,0.06);}
.autoComplete dl.groupBox dd ul.lst_people li button:after {content:''; display:inline-block; width:10px; height:10px; margin:0 0 0 3px; background:url("../images/ico_enter_bk.png") 50% 50% no-repeat; background-size:100% 100%; opacity:0.3;}
.autoComplete dl.groupBox dd ul.lst_people li:hover {background:#f1f5fb; transition:all 0.1s ease-out;}

.autoComplete dl.groupBox dd ul.lst_question {display:block;}
.autoComplete dl.groupBox dd ul.lst_question li {display:none; clear:both; overflow:hidden; width:100%; padding:3px 15px; text-align:left; line-height:30px; box-sizing:border-box; transition:all 0.1s ease-out;}
.autoComplete dl.groupBox dd ul.lst_question li:last-child {margin:0;}
.autoComplete dl.groupBox dd ul.lst_question li button {display:inline-block; height:30px; margin:0 0 0 3px; padding:0 7px; color:#7b7b7b; line-height:30px; border:none; border-radius:5px; vertical-align:middle; background:rgba(79,93,115,0.06);}
.autoComplete dl.groupBox dd ul.lst_question li button:after {content:''; display:inline-block; width:10px; height:10px; margin:0 0 0 3px; background:url("../images/ico_enter_bk.png") 50% 50% no-repeat; background-size:100% 100%; opacity:0.3;}
.autoComplete dl.groupBox dd ul.lst_question li .category {padding:2px 5px; color:#fff; font-size:11px; border-radius:3px; background:#b3b8bf;}
.autoComplete dl.groupBox dd ul.lst_question li .text {color:#000; font-size:15px; font-weight:500;}
.autoComplete dl.groupBox dd ul.lst_question li:hover {background:#f1f5fb; transition:all 0.1s ease-out;}

/* search Tip */
#srchTip {display:inline-block; width:560px; margin:0 0 0 45px; text-align:left;}
#srchTip .stn_tit h3 {margin:0 0 0 10px; color:#00a2e1; font-size:15px; line-height:28px;}
#srchTip .stn_tit .btn_bgBox {float:right; margin:0 10px 0 0;}
#srchTip .stn_tit .btn_bgBox span {margin:0 0 0 5px; color:#fff; font-size:11px; opacity:0.6;}
#srchTip .stn_cont {padding:30px 20px; border-radius:15px; background:rgba(255,255,255,0.6); box-shadow:0 0 15px rgba(0,0,0,0.03);}

.lst_srchSample {display:block;}
.lst_srchSample li {display:block; margin:0 0 30px 0;}
.lst_srchSample li:last-child {margin:0;}
.lst_srchSample li dl {display:block;}
.lst_srchSample li dl dt {display:block; color:#888; font-size:12px;}
.lst_srchSample li dl dd {display:block; padding:7px 0 0 0; font-size:17px;}
.lst_srchSample li dl dd:before {content:''; display:inline-block; width:16px; height:16px; margin:0 5px 1px 10px; vertical-align:middle; background:url("../images/btn_search_darkGray.png") 50% 50% no-repeat; background-size:100% 100%;}
.lst_srchSample li dl dd a {transition:all 0.1s ease-out;}
.lst_srchSample li dl dd a:hover {text-decoration:underline; transition:all 0.1s ease-out;}

/* AI대화 */
#detailedSearch {display:none; clear:both; overflow:hidden; position:relative; padding:20px 20px 30px 20px; text-align:center; background:#f1f5fb;}
#detailedSearch .talkBox { display:inline-block; width:1000px; text-align:left;}
#detailedSearch .talkBox .fl {width:490px;}
#detailedSearch .talkBox .fr {width:490px;}
#detailedSearch .talkBox .stn_tit {padding:0 0 3px 0;}
#detailedSearch .talkBox .stn_cont {overflow:auto; height:305px; padding:15px; font-size:13px; background:rgba(255,255,255,1.0); box-sizing:border-box; box-shadow:0 0 15px rgba(0,0,0,0.03);}
#detailedSearch .talkBox .stn_cont:hover::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0.5);}
#detailedSearch .talkBox .stn_cont::-webkit-scrollbar{width:7px;}
#detailedSearch .talkBox .stn_cont::-webkit-scrollbar-track {background-color:#cdcdcd;}
#detailedSearch .talkBox .stn_cont::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0.5); border-radius:10px;}
#detailedSearch .talkBox .stn_cont::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {width:0;height:0;background:none;}
#detailedSearch .talkBox .stn_cont .lst {display:block;}
#detailedSearch .talkBox .stn_cont .lst li {display:table; position:relative; width:100%; margin:0 0 12px 0;}
#detailedSearch .talkBox .stn_cont .lst li .name {display:none; position:absolute; top:0; left:0; overflow:hidden; width:56px; height:56px; padding:7px; color:#fff; font-size:13px; font-weight:700; line-height:13px; text-align:center; vertical-align:middle; border:3px solid #fff; border-radius:50px; box-sizing:border-box; background:#999bab;}
#detailedSearch .talkBox .stn_cont .lst li .name em {display:table-cell; vertical-align:middle;}
#detailedSearch .talkBox .stn_cont .lst li .txt {display:block; margin:0 0 0 10px; padding:12px 15px; color:#000; word-break:keep-all; border-radius:7px; box-sizing:border-box; background:#f1f5fb;}
#detailedSearch .talkBox .stn_cont .lst li .txt:after {content:''; position:absolute; top:10px;}
#detailedSearch .talkBox .stn_cont .lst li .thumb {display:none; overflow:hidden; position:absolute; top:0; right:0; width:56px; height:56px; text-indent:-999px; border:3px solid #fff; border-radius:50px; box-sizing:border-box; background:url("../images/ico_aiBot.png") 50% 50% no-repeat; background-size:100% 100%;}

#detailedSearch .talkBox .fl .stn_cont {border-radius:0 15px 15px 15px;}
#detailedSearch .talkBox .fl .stn_cont .lst {overflow:hidden; max-height:215px; margin:0 0 12px 0;}
#detailedSearch .talkBox .fl .stn_cont .lst:hover::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0.5);}
#detailedSearch .talkBox .fl .stn_cont .lst::-webkit-scrollbar{width:7px;}
#detailedSearch .talkBox .fl .stn_cont .lst::-webkit-scrollbar-track {background-color:#cdcdcd;}
#detailedSearch .talkBox .fl .stn_cont .lst::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0.5); border-radius:10px;}
#detailedSearch .talkBox .fl .stn_cont .lst::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {width:0;height:0;background:none;}
#detailedSearch .talkBox .fl .stn_cont .lst li .txt:after {left:0; border-top:0 solid transparent; border-right:10px solid #f1f5fb; border-bottom:10px solid transparent;}

#detailedSearch .talkBox .fr .stn_tit h3 {float:right;}
#detailedSearch .talkBox .fr .stn_cont {border-radius:15px 0 15px 15px;}
#detailedSearch .talkBox .fr .stn_cont .lst li .txt {display:block; margin:0 10px 0 0; padding:12px 15px; color:#fff; background:#00a2e1;}
#detailedSearch .talkBox .fr .stn_cont .lst li .txt:after {right:0; border-top:0 solid transparent; border-left:10px solid #00a2e1; border-bottom:10px solid transparent;}

#detailedSearch .talkBox .stn_cont .iptBox {display:table; position:relative; width:100%; padding:3px 7px; border:1px solid rgba(0,0,0,0.1); box-sizing:border-box; background:#fff; box-shadow:0 3px 9px rgba(0,0,0,0); transition:all 0.3s ease-out;}

#detailedSearch .talkBox .stn_cont .iptBox .ipt_txt {width:100%; padding:7px 3px; border:none; box-sizing:border-box;}
#detailedSearch .talkBox .stn_cont .iptBox button {overflow:hidden; position:absolute; top:7px; right:7px; width:25px; height:25px; text-indent:-99px; border:none; border-radius:30px; background:#005793 url("../images/ico_send_trans.png") 50% 50% no-repeat; background-size:100% 100%;}
#detailedSearch .talkBox .stn_cont .iptBox button:disabled {background:#999bab url("../images/ico_send_trans.png") 50% 50% no-repeat; background-size:100% 100%;}

#detailedSearch .talkBox .stn_cont .iptBox.active {border:3px solid #005793; box-shadow:0 3px 9px rgba(0,0,0,0.2); transition:all 0.3s ease-out;}

/* 검색결과 */
.srchResult {display:none; position:relative; padding:30px 30px 50px 30px; text-align:center; background:#fff;}
.srchResult .lot_c {display:inline-block; width:1000px; text-align:center;}

.srchResultTxt {display:block; margin:0 0 40px 0; padding:0 0 15px 0; font-size:18px; text-align:left; border-bottom:1px solid #dbe0e6;}

/* 검색결과(리스트) */
.lst_srchResult {clear:both; overflow:hidden; position:relative; text-align:left;}
.lst_srchResult >li {display:block; clear:both; overflow:hidden; margin:0 0 30px 0; box-sizing:border-box;}
.lst_srchResult >li > div { float:left; box-sizing:border-box;}
.lst_srchResult li .thumb {overflow:hidden; width:100px; height:100px; margin:0 10px 0 0; border-radius:3px;}
.lst_srchResult li .thumb img {width:100%; height:100%;}
.lst_srchResult li .infoBox {width:480px;}
.lst_srchResult li .infoBox .name {display:block; padding:0 0 10px 0; color:#888; font-size:15px; line-height:24px;}
.lst_srchResult li .infoBox .name strong {color:#333;}
.lst_srchResult li .infoBox .name a {display:inline-block; height:24px; margin:0 0 0 10px; padding:0 7px; font-size:11px; line-height:22px; vertical-align:top; border:1px solid #dbe0e6; box-sizing:border-box; transition:all 0.3s ease-out;}
.lst_srchResult li .infoBox .name a:before {content:''; display:inline-block; width:10px; height:10px; margin:0 5px 0 0; vertical-align:middle; background:url("../images/ico_qa.png") 50% 50% no-repeat; background-size:100% 100%; opacity:0.5; transition:all 0.3s ease-out;}
.lst_srchResult li .infoBox .name a:hover {color:#000; border:1px solid #666; transition:all 0.3s ease-out;}
.lst_srchResult li .infoBox .name a:hover:before {opacity:0.8; transition:all 0.3s ease-out;}
.lst_srchResult li .infoBox .dlBox {display:block; clear:both; overflow:hidden; margin:0 0 7px 0; font-size:13px; box-sizing:border-box;}
.lst_srchResult li .infoBox .dlBox dt {float:left; width:30px; color:#888;}
.lst_srchResult li .infoBox .dlBox dd {float:left; width:calc(50% - 30px); color:#000;}
.lst_srchResult li .infoBox .dlBox dd a.link {color:#00a2e1; transition:all 0.3s ease-out;}
.lst_srchResult li .infoBox .dlBox dd a.link:hover {text-decoration:underline; transition:all 0.3s ease-out;}

.tabUi {position:relative; width:410px;}
.tabUi ul.tab_nav {display:block; clear:both; overflow:hidden;}
.tabUi ul.tab_nav li {float:left; margin:0 5px 0 0;}
.tabUi ul.tab_nav li a {display:block; position:relative; height:26px; padding:0 10px; color:#b7b7b7; font-size:11px; line-height:24px; box-sizing:border-box; border:1px solid #e9edf1; background:#fff; z-index:10;}
.tabUi ul.tab_nav li a.active {color:#00a2e1; border:1px solid #dbe0e6; border-bottom:1px solid #fff; background:#fff;}

.tabUi .tab_container {display:block; font-size:13px; line-height:22px; border:1px solid #dbe0e6; border-top:none;}
.tabUi .tab_container:before {content:''; position:absolute; top:25px; left:0; width:100%; height:1px; background:#dbe0e6; z-index:1;}
.tabUi .tab_container .tab_content:hover::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0.5);}
.tabUi .tab_container .tab_content::-webkit-scrollbar{width:7px;}
.tabUi .tab_container .tab_content::-webkit-scrollbar-track {background-color:#cdcdcd;}
.tabUi .tab_container .tab_content::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0.5); border-radius:10px;}
.tabUi .tab_container .tab_content::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {width:0; height:0; background:none;}
.tabUi .tab_container .tab_content {overflow:auto; height:66px; padding:10px;}
.tabUi .tab_container .tab_content:nth-child(2) {height:auto; max-height:150px; background:#f1f5fb;}

.tab_content ul.lst {display:block;}
.tab_content ul.lst li {display:block; position:relative; margin:0 0 5px 0; padding:0 0 0 10px; line-height:20px;}
.tab_content ul.lst li:last-child {margin:0;}
.tab_content ul.lst li:before {content:'-'; position:absolute; top:0; left:0; margin:1px 5px 0 0; color:#999; font-size:4px;}

.qnaBox {display:block; margin:0 0 10px 0; padding:10px; color:#000; word-break:keep-all; border:1px solid #dbe0e6; border-radius:7px; background:#fff;}
.qnaBox:last-child {margin:0;}
.qnaBox .qBox {display:block; position:relative; margin:0 0 8px 0; padding:0 0 8px 35px; line-height:20px; border-bottom:1px dashed #dbe0e6;}
.qnaBox .qBox:before {content:'Q'; position:absolute; top:3px; left:0; width:26px; height:26px; color:#fff; font-size:11px; font-weight:700; text-align:center; line-height:24px; border-radius:30px; background:#b0b1bb;}
.qnaBox .aBox {display:block; line-height:20px;}

.srchResult .btn_more { width:200px; margin:30px 0; padding:8px 0; font-size:12px; text-align: center; border:1px solid #dbe0e6; background:#fff; transition:all 0.3s ease-out;}
.srchResult .btn_more:hover {color:#000; border:1px solid #666; transition:all 0.3s ease-out;}

.btn_talkBox_reset { position:absolute; left:50%; bottom:-60px; width:120px; height:120px; border:none; border:5px solid #fff; border-radius:120px; transform:translate(-50%, 0); background:#b0b1bb; box-shadow:0 0 20px rgba(0,0,0,0.2); transition:all 0.3s ease-out;}
.btn_talkBox_reset em { position:absolute; top:0; padding:35px 0 0 0; color:#fff; font-size:11px; text-align:center; transform:translate(-50%, 0);}
.btn_talkBox_reset em:before {content:''; position:absolute; top:10px; left:50%; width:20px; height:20px; background: url("../images/ico_talk_delete.png") 50% 50% no-repeat; background-size:100% 100%; transform:translate(-50%,0); opacity:0.8;}
.btn_talkBox_reset:hover {background:#e97118; box-shadow:0 0 20px rgba(0,0,0,0.4); transition:all 0.3s ease-out;}


#wrap.transform {background:#fff;}
#wrap.transform #header {display:none; height:100px; background:#f1f5fb;}
#wrap.transform #header h1 {margin:20px 10px 0 0;}
#wrap.transform #header .srchBox {margin:20px 30px 0 0;}
#wrap.transform #srchTip {display:none;}
#wrap.transform #detailedSearch {display:block;}
#wrap.transform .autoComplete.on {display:none;}


/* 대화_chatbot_로딩*/
.chatLoading {display:block; margin:0 10px 0 0; padding:12px 15px; word-break:keep-all; border-radius:7px; box-sizing:border-box; background:#00a2e1;}
.chatLoading:after {content:''; position:absolute; top:10px; right:0; border-top:0 solid transparent; border-left:10px solid #00a2e1; border-bottom:10px solid transparent;}
.chatLoading > em {width:10px; height:10px; background-color:#fff; border-radius:100%; display:inline-block; -webkit-animation:chat-bouncedelay 1.2s infinite ease-in-out both; animation:chat-bouncedelay 1.2s infinite ease-in-out both;}
.chatLoading .chatLoading_item01 {-webkit-animation-delay:-0.32s; animation-delay:-0.32s;}
.chatLoading .chatLoading_item02 {-webkit-animation-delay:-0.16s; animation-delay:-0.16s;}

/* keyframes */
@-webkit-keyframes chat-bouncedelay {
    0%, 80%, 100% {transform:scale(0);}
    40%           {transform:scale(1.0);}
}

@keyframes chat-bouncedelay {
    0%, 80%, 100% {transform:scale(0);}
    40%           {transform:scale(1.0);}
}

